<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACG-MCBBS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>ACG-MCBBS</h1>
        <nav>
            <a href="{{ url_for('index') }}">是首页哦~</a>
            {% if 'user_id' in session %}
                <a href="{{ url_for('profile') }}">我的~</a>
                <a href="{{ url_for('new_post') }}">发个帖叭~</a>
                <a href="{{ url_for('logout') }}">一定要退出吗？</a>
            {% else %}
                <a href="{{ url_for('login') }}">登录叭~</a>
                <a href="{{ url_for('register') }}">注册叭~</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>