{% extends "base.html" %}
{% block content %}
    <h2>你的资料呢~</h2>
    <div class="profile">
        <img src="{{ url_for('uploaded_file', filename=user.avatar) }}" alt="你的头像~">
        <h3>{{ user.username }}</h3>
        <p>邮箱：{{ user.email }}</p>
    </div>
    <h3>我的发布的帖子哦~</h3>
    {% if user.posts %}
        {% for post in user.posts %}
            <div class="post">
                <h4>{{ post.title }}</h4>
                <p>{{ post.content }}</p>
                <small>发布时间是什么呢~：{{ post.date_posted.strftime('%Y-%m-%d %H:%M') }}</small>
            </div>
        {% endfor %}
    {% else %}
        <p>你还没有发布过帖子哦，请发个叭~</p>
    {% endif %}
{% endblock %}